security:
  jwt:
    secret: ${JWT_SECRET:5vMCw0th3/8uX1+Qj5/Zk9l8vMCw0th3/8uX1+Qj5/Y=}
    expiration-ms: ${JWT_EXPIRATION:3600000} # Default 1 hour

server:
  port: 8080
  shutdown: graceful
  tomcat:
    threads:
      max: 200
      min-spare: 10

spring:
  application:
    name: desafio-hyperativa
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/hyperativa_db?allowPublicKeyRetrieval=true&useSSL=false}
    username: ${SPRING_DATASOURCE_USERNAME:hyperativa}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    
    # Connection Pooling
    hikari:
      pool-name: HikariPool-Hyperativa
      maximum-pool-size: 20      
      minimum-idle: 5            
      connection-timeout: 30000  # 30s: (Fail Fast)
      idle-timeout: 600000       # 10min
      max-lifetime: 1800000      # 30min

  jpa:
    open-in-view: false # Disable Open Session in View to prevent lazy loading issues and improve performance
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  # DoS Protection
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

logging:
  level:
    root: INFO
    com.hyperativa: INFO